@page
@model AutoEscola.Pages.Aluno.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.NomeAluno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.NomeAluno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Sexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.DataAluno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.DataAluno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.Cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.Cep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Cep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.Celular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Celular)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Aluno.AlunoID">Edit</a> 
    <a class="btn btn-primary" asp-page="./Index">Voltar</a>
</div>
