@page
@model AutoEscola.Pages.Funcionario.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Sexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Funcao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Funcao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.MyProperty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.MyProperty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Cep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Cep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Celular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Celular)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Funcionario.ID">Editar</a> 
    <a class="btn btn-primary" asp-page="./Index">Volar</a>
</div>
